<h4>Online / Offline Orders</h4>

<!--Row1-->
<div class="form-inline col-md-12">
    <div class="col-md-6">
        <div ac-chart="chartType1" ac-data="chartData1" ac-config="chartConfig1" ac-chart-width="chartWidth"
             ac-chart-height="chartHeight"></div>
    </div>
    <div class="col-md-6">
        <div ac-chart="chartType2" ac-data="chartData2" ac-config="chartConfig2" ac-chart-width="chartWidth"
             ac-chart-height="chartHeight"></div>
    </div>
</div>

<div class="clearfix"></div>

<h4>User</h4>

<!--Row2-->
<div class="form-inline col-md-12">
    <div class="col-md-6">
        <div ac-chart="chartType3" ac-data="chartData3" ac-config="chartConfig3" ac-chart-width="chartWidth"
             ac-chart-height="chartHeight"></div>
    </div>
    <div class="col-md-6">
        <div ac-chart="chartType4" ac-data="chartData4" ac-config="chartConfig4" ac-chart-width="chartWidth"
             ac-chart-height="chartHeight"></div>
    </div>
</div>